/* SETTINGS */
:root {
  --primary-text-color: (#2e2f42);
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul,
ol {
  list-style: none;
}
.link{
    text-decoration: none;
    
}
/* HEADER */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
